<config>    
    <modules>
        <Lexity_Ganalytics>
            <version>0.1.0</version>
        </Lexity_Ganalytics>
    </modules>
	<global>
		<helpers>
			<ganalytics>
				<class>Lexity_Ganalytics_Helper</class>
			</ganalytics>
		</helpers>
	</global> 
	
	<admin>
        <routers>
            <ganalytics>
                <use>admin</use>
                <args>
                    <module>Lexity_Ganalytics</module>
                    <frontName>ganalytics</frontName>
                </args>
            </ganalytics>
        </routers>  
    </admin>
	
    <adminhtml>
        <menu>
            <Lexity translate="title" module="ganalytics">
                <title>Lexity</title>
		<sort_order>16</sort_order> 
                <children>
                    <first_page module="ganalytics">
                        <title>Activate app</title> 
                        <action>ganalytics/index/index</action>
                    </first_page>
                </children>
            </Lexity>
        </menu> 
    </adminhtml>
	
</config>